header, footer{
    height: 150px;
    width: inherit;
    background-color: black;
}
header div{
  height: 75px;
  width: 10%;
  margin: 0 auto;
  border-top: solid black 8px;
}
header div img{
  height: inherit;
  width: auto;
}

#first{
    width: inherit;
}
#first div{
    width: 100%;
    height: auto;
}
#first div div{
    width: inherit;
    height: auto;
}
#first div div img{

}

#second{
    height: 600px;
    width: inherit;
}
p{
    font-size: 24px;
    margin: 10px;
    font-family: arial;
}
.button{
    height:50px;
    width: 100px;
    background-color: green;
    float: left;
}
